.bienvenido{
    height: 100vh;
    background-color: #289a88;
}

.bienvenido h1{
    text-align: center !important;
    background-color: #289a88;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px !important;
    padding-top: 5%;
    font-size: xxx-large;
    font-weight: bolder;
}

.imagen-bienvenida{
    padding-top: 15%;
}