<ion-content padding scroll="false" padding class="background"> 
  <div class="registerPage">
    <img src="../../assets/login.svg" alt="imagen login" class="imagenLogin"/>
    
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleEye" (click)='cambiarOjo()'></ion-icon>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.cpassword"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleEyeCpassWord" (click)='cambiarOjoSecreto()'></ion-icon>
    </ion-item>

    <!-- <p>
        <a routerLink="/login" (click)="clear()">Volver a Login</a>
      
    </p> -->
    <br>
      <ion-button fill='solid' expand="block" color='dark' (click)="onRegister()">REGISTRARSE</ion-button>
      
      <ion-button class="loginBtn" fill='solid' expand="block" color="#fa5657" routerLink="/login" (click)="clear()">LOGIN</ion-button>
  </div>  
</ion-content>
